.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.banner-card-item {
  border: 1px solid #cbced2;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 36px;
  width: 100%;
  max-width: 1150px;
  list-style-type: none;
}

.heading {
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
}

.description {
  color: #64748b;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Roboto';
}

.show-more-button {
  color: #326a9d;
  background-color: #ffffff;
  border: 2px solid #326a9d;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
